<% provide(:title, @user.name)%>
<div>
  <p>ユーザー名: <%= @user.name %></p>
  <p>メールアドレス: <%= @user.email %></p>
</div>
<%= image_section @user %>
<% if logged_in? %>
  <p><%= link_to "ログアウトする", logout_path, method: :delete %>
<% else %>
<% end %>